<div class ="container">
<br><div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/bookform'">
     Add book
  </button>
</div><br>
<p *ngIf="!(books$|async)">Loding books...</p><!--כותב הודעה עד לרגע שיתקבל בחזרה מה שאני מחכה לו-->
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ |async"><!--בקובץ הobservable פה אני מגדיר -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title> 
      </mat-expansion-panel-header> 
      by {{book.author}}
      <button mat-raised-button 
         color="primary"
         (click) = deleteBook(book.id)>
          Delete
      </button> 
      <button 
         mat-raised-button color="primary"
         [routerLink]="'/bookform/'+book.id">
         Edit
      </button>   
    </mat-expansion-panel>
</mat-accordion>
</div>