<div class="container">
    <br><h1>New book</h1>
<form #bookForm="ngForm" (ngSubmit)="onSubmit()"><!--  ניתן לעקוב אחר מצבם של השדות בטופס באמצעות משתנה מקומי ניתן לעקוב אחרי כל הטופס באותה שיטה-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Book title" name="title" [(ngModel)]="title"
                       required #addtitle>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Book author" name="author" [(ngModel)]="author"
                         required #addauthor>
      </mat-form-field><br>
    <!--<br><button mat-raised-type="button" class="btn btn-primary">add book</button>-->
    <button mat-raised-button color="primary" [disabled]="!bookForm.form.valid">{{buttonText}}</button>
    <button mat-raised-type routerLink= "/books" class="btn btn-secondary">cancel</button>
    

</div>
  </form>
</div>