
<div class="container">
    <br><h1>SignUp</h1>
<form #SignupForm="ngForm" (ngSubmit)="onSubmit()"><!--  ניתן לעקוב אחר מצבם של השדות בטופס באמצעות משתנה מקומי ניתן לעקוב אחרי כל הטופס באותה שיטה-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Your email" name="email" [(ngModel)]="email" required>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Password" name="password" [(ngModel)]="password" required >
      </mat-form-field><br>
     <div>
    <button mat-raised-button color="primary" [disabled]="!SignupForm.form.valid">Sigh Up</button> 
  </div>    
</div>
  </form>
</div>
