<h1>Temperature Form</h1>
<form #tempForm="ngForm" (ngSubmit)="onSubmit()"><!--  ניתן לעקוב אחר מצבם של השדות בטופס באמצעות משתנה מקומי ניתן לעקוב אחרי כל הטופס באותה שיטה-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Temperature" name="temperature" [(ngModel)]="temperature"
                       required #spy
                       #temp = "ngModel"><!--על השדה טמפרטורה spy על מנת לעקוב אחר המצב של השדה נוסיף משתנה מקומי בשם -->
  <!--שאותו נוכל להריץ ולבדוק את ערך המשתנה  temp נוסיף משתנה מקומי בשם  temperature בכדי לעקוב על השדה-->
    </mat-form-field><br>
    <mat-form-field>
    <mat-select name="city" [(ngModel)] = "city" placeholder="City">  
        <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <br><button mat-raised-type="button" class="btn btn-primary">Primary</button>

</div>
  </form>